<div class="about-main">
  <%= image_tag("menu-black.svg", alt: "Open", class: "open-icon", onclick:"alert('hello world')".html_safe) %>
  <div class="content container"> <h1>A digital journal</h1>
  </div>
</div>
<div class="about-supporting">
  <div class="container">
    <h2>Inspiring travel memories</h2>
    <p>Create a digital journal filled with travel photos, notes, ideas and more.</p>
    <p><%= link_to "Sign up", "signups/new", :class => "btn btn-primary" %></p>
  </div>
</div>
