<div id="about-main">
  <%= image_tag("menu-black.svg", alt: "Open", class: "open-icon", onclick: "showMenu()") %>
  <div class="container banner"><h1>Your journey begins...</h1>
  </div>
</div>
<div class="about-supporting">
  <div class="container">
    <h2>Create your digital journal</h2>
    <p>Inspire others with your travel stories.</p>
    <p><%= link_to "Sign up", "/signup", :class => "btn" %></p>
  </div>
</div>
