<div class="home-main">
    <%= image_tag("menu-black.svg", alt: "Open", class: "open-icon", onclick: "showMenu()") %>
  <div class="container banner">
    <h1>Stories</h1>
    <h2>Your travel profiles</h2>
    <span><%= link_to "Learn more", "/about", :class => "btn" %></span>
  </div>
</div>
  <div class="home-supporting">
      <span class="quote">"Create a digital journal filled with travel photos, notes, ideas and more."</span>
  </div>
  <div class="home-secondary">
    <div class="container"> </div>
  </div>
  <div class="home-about">
    <div class="container">
      <p><%= link_to "Learn more", "/about", :class => "btn" %></p>
    </div>
  </div>
