<div class="main mainimg">
 <a id="simple-menu" href="#sidr"><img id="menuBtn" src="/assets/menu-white.svg" class="sidemenu" onclick="swapMenuImage(this.src)"></a>
 <div id="sidr">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
 </div>
 <div class="container">
  <div class="row">

    <div class="content col-md-6 col-md-offset-6">
      <h1>Share and create your travel profile</h1>
      <p><a class="btn btn-primary" href="about">Learn more</a></p>
    </div>
  </div>
 </div>
</div>
<div class="home-supporting">
  <div class="container">
    <h2>Inspire others with your memories</h2>
    <p>Create a digital journal of your trip filled with your photos, notes, ideas and more.</p>
  </div>
</div>
<div class="home-secondary secimg">
  <div class="container">
  </div>
</div>
<div class="home-about">
  <div class="container">
    <h2>Find adventures</h2>
    <p><a class="btn btn-primary" href="about">Learn more</a></p>
  </div>
</div>
<footer class="text-center">
    @2017 Martina Cho
</footer>
