<div class="home-main">
  <%= image_tag("menu-black.svg", alt: "Open", class:"icon-menu", width:"24px") %>
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6"> <h1>S t o r i e s </h1>
        <h2>Share and create your travel profiles</h2>
      <p><%= link_to "Learn more", "about", :class => "btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>
<div class="home-supporting">
  <div class="container">
    <h2>Inspire others with your memories</h2>
    <p>Create a digital journal of your trip filled with your photos, notes, ideas and more.</p>
  </div>
</div>
<div class="home-secondary">
  <div class="container"> </div>
</div>
<div class="home-about">
  <div class="container">
    <h2>Find adventures</h2>
    <p><%= link_to "Learn more", "about", :class => "btn btn-primary" %></p>
  </div>
</div>
