<div class="home-main">
    <%= image_tag("menu-black.svg", alt: "Open", class: "open-icon", onclick: "showMenu()") %>
  <div class="container">
    <div class="row">
      <div class="content col-md-6 col-md-offset-6"> <h1>S t o r i e s </h1>
        <h2>Share and create travel profiles</h2>
      <p><%= link_to "Learn more", "/about", :class => "btn btn-danger" %></p>
      </div>
    </div>
  </div>
</div>
<div class="home-supporting">
  <div class="container">
    <h2>Create memories</h2>
    <p>Create a digital journal filled with travel photos, notes, ideas and more.</p>
  </div>
</div>
<div class="home-secondary">
  <div class="container"> </div>
</div>
<div class="home-about">
  <div class="container">
    <h2>Inspire other travellers</h2>
    <p><%= link_to "Learn more", "/about", :class => "btn btn-danger" %></p>
  </div>
</div>
