<div id="contact-main">
<%= image_tag("menu-black.svg", alt: "Open", class: "open-icon", onclick: "showMenu()") %>
    <div class="container banner">
      <h1>Thanks. We'll keep you posted.</h1>
    </div>
</div>
