html,body {
  margin:0
}
body {
  font-family:'Roboto', sans-serif
}
h1 {
  font-size:50px
}
h2 {
  font-size:45px;
  font-weight:300;
  color:#13D9CC
}
.btn-primary {
  border-radius:0;
  font-size:16px;
  padding:12px 26px;
  background-color:#B9361A;
  border-color: #951D04;
}
.btn-primary:hover {
  background-color:#AA2104;
  border-color:#951D04
}
.home-main {
  background:url(beach.jpg) no-repeat center center;
  background-size:cover;
  height:500px
}
.home-main h2 {
  text-shadow:0 2px 3px rgba(0,0,0,0.4)
}
.home-main .content {
  position:relative;
  top:150px;
  text-align:center;
}
.home-main h1 {
  color:#fff;
  font-weight:100;
  margin-bottom:30px;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.4)
}
.home-supporting,.home-about,.about-supporting {
  padding:80px 0;
  text-align:center
}
.home-supporting h2,.home-about h2,.about-supporting h2 {
  margin:30px 0
}
.home-main p,.home-supporting p,.about-supporting p {
  font-size:21px;
  font-weight:100;
  color:#B9361A
}
.home-secondary {
  background:url(venice.jpg) no-repeat center center;
  background-size:cover;
  height:500px
}
.about-supporting p {
  margin-top:30px
}
.about-main {
  background:url(gondola.jpg) no-repeat center center;
  background-size:cover;
  height:500px
}
.about-main .content {
  position:relative;
  top:350px;
  text-align:center
}
.about-main h1 {
  color:#fff;
  font-weight:300;
  margin-bottom:30px;
  text-shadow:0 2px 3px rgba(0,0,0,0.4)}
.about-main p {
  font-size:21px;
  font-weight:100;
  color:#13D9CC
}
.footer {
  background-color:#F9F9F9;
  border-top:solid 1px #F5F5F5;
  padding:40px 0 30px 0;
  text-align:center
}
.footer p {
  text-transform:uppercase;
  font-size:12px;
  color:#B9361A
}
.smenu {
  background-color:#fff;
  height:100%;
  position:fixed;
  top:0;width:240px;
  left:-240px;
  z-index:1
}
.smenu ul {
  list-style:none;
  padding-left:0
}
.smenu li a,.smenu li a:visited {
  color:#000;
  display:block;
  font-size:18px;
  font-weight:bold;
  padding:30px 40px
}
.smenu li a:hover {
  color:#B9361A
}
.smenu .close-icon {
  position:absolute;
  top:30px;
  right:30px;
  cursor:pointer;
  width: 24px
}
.open-icon {
  position:absolute;
  top:30px;
  left:30px;
  cursor:pointer;
  width: 24px
  }
